node_modules
test/unit/coverage/lcov-report/*.html
test/unit/coverage/lcov-report/*/*.html
test/unit/coverage/lcov-report/*/*/*.html
test/unit/coverage/lcov-report/*/*/*/*.html
test/unit/coverage/lcov-report/*/*/*/*/*.html
test/unit/coverage/lcov-report/*/*/*/*/*/*.html
test/unit/coverage/lcov-report/*.css
test/unit/coverage/lcov-report/*.js
test/unit/coverage/lcov-report/*.png
test/unit/coverage/*.info
.eslintcache
build
dist/electron/*.js
dist/electron/*.map
dist/electron/*.txt
dist/electron/*.css
dist/electron/*.html
dist/electron/*.node
dist/electron/codemirror/mode/*/*.js
dist/electron/codemirror/mode/*/*.css
dist/electron/fonts/*.woff
dist/electron/fonts/*.woff2
dist/electron/fonts/*.ttf
dist/electron/static/*.png
dist/electron/static/*.svg
dist/electron/static/*.json
dist/electron/static/.gitkeep
dist/electron/static/themes/fonts/*LICENSE
dist/electron/static/themes/fonts/*.ttf
dist/electron/static/themes/fonts/*.txt
dist/electron/static/themes/fonts/*.woff
dist/electron/static/themes/prismjs/*.css
dist/electron/static/themes/*.css
static/themes/fonts/*_LICENSE
static/themes/fonts/*.ttf
static/themes/fonts/*.txt
static/themes/fonts/*.woff
static/themes/prismjs/*.css
static/themes/*.css
test-results/.last-run.json
