node_modules
test/unit/coverage/lcov-report/*.html
test/unit/coverage/lcov-report/*/*.html
test/unit/coverage/lcov-report/*/*/*.html
test/unit/coverage/lcov-report/*/*/*/*.html
test/unit/coverage/lcov-report/*/*/*/*/*.html
test/unit/coverage/lcov-report/*/*/*/*/*/*.html
test/unit/coverage/lcov-report/*.css
test/unit/coverage/lcov-report/*.js
test/unit/coverage/lcov-report/*.png
test/unit/coverage/*.info
.eslintcache
build
dist
static/themes/fonts/*_LICENSE
static/themes/fonts/*.ttf
static/themes/fonts/*.txt
static/themes/fonts/*.woff
static/themes/prismjs/*.css
static/themes/*.css
test-results/.last-run.json
